body {
  background-color: black;
  /*background: url("../../../pw_maze_black.png");*/
  color: white;
  text-shadow: black 0.2em 0.2em 0.4em;
  font-family: "Actor", sans-serif;
  background-image: url( "http://underscorejs.org/docs/images/background.png");
  /*font-family: "Shadows Into Light", cursive;*/
  /*color: white;*/
}

.container-main {
  margin-left: auto;
  margin-right: auto;
	max-width: 960px;
}

.hide {
  display: none;
}

.right {
	text-align: right;
	padding-right: 10px;
}

#titleBox {
  height: 20%;
}

#titleBox, #buttonBox {
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkgray;
  margin-top: 25px;
}

#sectorButtons {
  margin-top: 10px;
  margin-left: auto;
}

#moreData {
  border: 1px dashed black;
  background-color: #741BE0;
}

#chartBox {
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
  margin-top: 25px;
	margin-left: 0px;
}

#canvas {
  border: 1px solid black;
}

#container {
  border:1px solid #333;
	margin-left: 0px;
	margin-top: 25px;
}

#list-template {
  display:none;
}

h1 {
  /*font-family: "Helvetica Neue, Helvetica, Arial";*/
  /*font-family: "Shadows Into Light", cursive;*/
  /*color: white;*/
}

.pnfChart {
  border: 1px solid black;
}